<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.train.mapper.DailyTrainSeatMapper">

    <resultMap id="BaseResultMap" type="com.train.domain.DailyTrainSeat">
        <id property="id" column="id" jdbcType="BIGINT"/>
        <result property="date" column="date" jdbcType="DATE"/>
        <result property="trainCode" column="train_code" jdbcType="VARCHAR"/>
        <result property="carriageIndex" column="carriage_index" jdbcType="INTEGER"/>
        <result property="row" column="row" jdbcType="CHAR"/>
        <result property="col" column="col" jdbcType="CHAR"/>
        <result property="seatType" column="seat_type" jdbcType="CHAR"/>
        <result property="carriageSeatIndex" column="carriage_seat_index" jdbcType="INTEGER"/>
        <result property="sell" column="sell" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,date,train_code,
        carriage_index,row,col,
        seat_type,carriage_seat_index,sell,
        create_time,update_time
    </sql>
</mapper>
